<template>
    <div class="${styles.container}">
        <div class="${styles.row}">
            <div class="${styles.column}">
                <span class="${styles.title}">Welcome to SharePoint!</span>
                <p class="${styles.subTitle}">Customize SharePoint experiences using Web Parts.</p>
                <p class="${styles.description}">${message}</p>
                <a href="http://aurelia.io/" class="${styles.button}">
                    <span class="${styles.label}">Learn Aurelia</span>
                </a>
                <a href="https://au-office-ui.azurewebsites.net/" class="${styles.button}">
                    <span class="${styles.label}">Use Office UI</span>
                </a>
            </div>
        </div>
    </div>
</template>

